<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:allowBackup="false"
        android:allowClearUserData="true"
        android:configChanges="locale"
        android:fullBackupContent="false"
        android:launchMode="singleTask"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,android:supportsRtl">
    <activity
        android:name=".CaveLoggerActivity"
        android:theme="@style/CaveTheme"
        android:exported="false">
        <meta-data
            android:name="android.app.lib_name"
            android:value="" />
    </activity>
    </application>
</manifest>